@model Bug_Tracker.Models.BugModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BugModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.label)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.label)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.resolved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.resolved)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
